<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Galerie - SuperSport</title>
    <%- include('../fragmente/head') %>
</head>
<body>
    <%- include('../fragmente/header') %>
    <main>
        <h2>Galerie foto</h2>
        <%- include('../fragmente/galerie', { imagini: imagini, cale_galerie: cale_galerie }) %>
    </main>
    <%- include('../fragmente/footer') %>
</body>
</html> 