#hamburger {
    display: block;
}

ul.meniu{
    display:none;
    margin:0;
    width:100%;
    background-color:var(--culoare-deschisa);
}

ul.meniu li{
    margin:0;
    width:100%;
}
#hamburger>img{
    height:var(--inaltime-meniu);
    display:block;
}


#ch-menu:checked+ul.meniu{
    display:block;
    position:relative;
    z-index:10;
}

main{
    margin-top:10px;
}