<small>&copy; Robert 2025</small>
    <a href="#inceput">Acasa</a>
    <time datetime="2025-03-14 16:00">Creat pe 14 martie 2025</time>
    <address>
        <p>Telefon: <a href="tel:+40-07-3223-5959">0732235959</a></p>
        <p>Adresa: <a href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.4359741,26.098804,19z/data=!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI1MDMyNS4xIKXMDSoASAFQAw%3D%3D">Google maps</a><br></p>
        <p>Email: <a href="mailto:exemplu@email.com">exemplu@email.com</a></p>
        <p>Chat:
            <a href="https://wa.me/40732235959" target="_blank">WhatsApp</a>
        </p>
    </address>