<header>
    <h1>SuperSport</h1>
    <p>Cele mai bune articole de sport din lume!</p>
</header>

<nav>
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/hamburger-icon.svg" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    
    <ul class="meniu">
        <li>
            <div class="text-icon nav-btn">Produse</div>
            <div class="imag-icon"><span class="fas fa-tshirt"></span></div>
            <ul>
                <li><a href="/produse" class="nav-btn">Toate Produsele</a></li>
                <li><a href="/produse?categorie=imbracaminte">Îmbrăcăminte</a></li>
                <li><a href="/produse?categorie=incaltaminte">Încălțăminte</a></li>
                <li><a href="/produse?categorie=echipament">Echipament</a></li>
            </ul>
        </li>
        <li>
            <div class="text-icon nav-btn">Index</div>
            <div class="imag-icon"><span class="fas fa-home"></span></div>
            <ul>
                <li><a href="/index#welcome">Prezentare</a></li>
                <li><a href="/index#orar">Orar</a></li>
                <li><a href="/index#calendar">Calendar</a></li>
                <li><a href="/index#anunturi">Anunțuri</a></li>
                <li><a href="/index#utilizatori-online">Utilizatori Online</a></li>
                <li><a href="/index#statistici">Statistici</a></li>
                <li><a href="/index#info-site">Info Site</a></li>
                <li><a href="/index#diverse">Diverse</a></li>
            </ul>
        </li>
        <li><a href="/despre" class="nav-btn">Despre</a></li>
        <li><a href="/contact" class="nav-btn">Contact</a></li>
        <li><a href="/galerie" class="nav-btn">Galerie</a></li>
    </ul>
</nav> 